body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, sans-serif;
    font-size: 13px;
    height: 100%;
}

.undisplayed {
    display: none;
}

.page {
    height: 100%;
    width: 100%;
    background: #999999;
}

/* ★★★★★★★★★★★★★★★★★★★★★★★ MENU ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★*/
.menu {
    height: 100%;
    width: 100px;
    background: #111;
    position: fixed;
    z-index: 100;
}

.menu-list {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100px;
    top: 0;
    overflow: hidden;
}

.menu-item {
    height: 120px;
    background: url("../images/icon/menu-ico.png") no-repeat #111111;
    position: relative;
}

.menu-item.home {
    background-position: 0px center;
}

.menu-item.acc {
    background-position: -100px center;
}

.menu-item.cate {
    background-position: -200px center;
}

.menu-item.day {
    background-position: -300px center;
}

.menu-item.week {
    background-position: -400px center;
}

.menu-item.hover {
    background-color: #222;
}

.menu-item.hover .menu-arrow {
    display: block;
}

.menu-item a {
    height: 100%;
    display: block;
    line-height: 210px;
    text-align: center;
    text-decoration: none;
    color: #FFF;
}

.menu-popup {
    width: 0px;
    background-color: #3F2AD6;
    position: fixed;
    top: 0;
    left: 100px;
    height: 100%;
    transition: background 200ms linear;
    -webkit-transition: background 200ms linear;
    -moz-transition: background 200ms linear;
}

.menu-popup.acc {
    background-color: #3F2AD6;
}

.menu-popup.cate {
    background-color: #3F2AD6;
}

.menu-popup.day {
    background-color: #DB51A9;
}

.menu-popup.week {
    background-color: #51b202;
}

.menu-arrow {
    width: 20px;
    height: 40px;
    position: absolute;
    top: 40px;
    right: -20px;
    background: url("../images/icon/menu-arr.png") no-repeat;
}

.menu-item.menu-group.acc .menu-arrow {
    background-position: right -40px;
}

.menu-item.menu-group.cate .menu-arrow {
    background-position: right -40px;
}

.menu-item.menu-group.day .menu-arrow {
    background-position: right -80px;
}

.menu-item.menu-group.week .menu-arrow {
    background-position: right -120px;
}

.menu-popup-form {
    display: none;
    height: 100%;
    width: 350px;
    color: #ffffff;
}

.menu-popup.acc .menu-popup-form.acc {
    display: block;
}

.menu-popup.cate .menu-popup-form.cate {
    display: block;
}

.menu-popup.day .menu-popup-form.day {
    display: block;
}

.menu-popup.week .menu-popup-form.week {
    display: block;
}

.menu-popup-list {
    list-style: none;
    margin: 60px 0px 0px 0px;
    padding: 0;
    position: absolute;
    width: 350px;
    right: 0;
    top: 0;
}

.menu-popup-item {
    height: 35px;
    line-height: 35px;
    color: #FFF;
    font-size: 16px;
    transition: background 200ms linear;
    -webkit-transition: background 200ms linear;
    -moz-transition: background 200ms linear;
}

.menu-popup-item:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.menu-popup-item.simple {
    text-indent: 30px;
}

.menu-popup-list.special {
    height: 500px;
    overflow: hidden;
}

.control-rank-list .menu-popup-item,
.menu-popup-list.special .menu-popup-item {
    height: 50px;
    line-height: 50px;
    color: #FFF;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu-popup-list.special .menu-popup-item.odd {
    background-color: rgba(255, 255, 255, 0.1);
}

.menu-popup-list.special .menu-popup-item:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.menu-popup-avt {
    display: inline-block;
    height: 40px;
    width: 40px;
    vertical-align: middle;
    margin: 0px 5px;
    border-radius: 20px;
    background: no-repeat center;
    background-size: cover;
    font-weight: bold;
}

.menu-popup-user {
    display: inline-block;
    height: 50px;
    vertical-align: top;
    text-indent: 0px;
    font-weight: bold;
    color: #FFF;
    font-size: 14px;
    text-decoration: none;
}

.menu-popup-mess {
    padding-left: 10px;
    font-size: 14px;
    vertical-align: middle;
}

.menu-popup-video-link {
    padding-left: 10px;
    font-weight: bold;
    color: #FFF;
    font-size: 14px;
    vertical-align: middle;
}

.menu-popup-score {
    display: inline-block;
    height: 50px;
    width: 75px;
    vertical-align: top;
    text-indent: 0px;
    text-align: right;
    padding-right: 20px;
    float: right;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 14px;
    vertical-align: middle;
}

.menu-popup-num {
    font-weight: bold;
    font-size: 14px;
    vertical-align: middle;
    width: 20px;
    color: #FFF;
    height: 100%;
    display: inline-block;
    text-indent: 0px;
    text-align: right;
}

.menu-popup-icon {
    display: block;
    background: no-repeat center;
    background-size: auto 25px;
    height: 25px;
    width: 25px;
    margin: 5px auto;
    vertical-align: middle;
}
.rank-row-item{
    height: 40px;
    line-height: 40px;
    color: #FFF;
    font-size: 16px;
    transition: background 200ms linear;
    -webkit-transition: background 200ms linear;
    -moz-transition: background 200ms linear;
    border-bottom: 1px solid rgba(255, 255, 255, 0.21);
}
.rank-row-num {
    font-weight: bold;
    font-size: 14px;
    width: 20px;
    color: #FFF;
    height: 100%;
    display: inline-block;
    text-indent: 0px;
    text-align: right;
}
.rank-row-avt {
    display: inline-block;
    height: 30px;
    width: 30px;
    vertical-align: middle;
    margin: 0px 5px;
    border-radius: 20px;
    background: url("../images/icon/avata-ico.png") no-repeat center;
    background-size: cover;
    font-weight: bold;
}
.rank-row-point {
    height: 100%;
    display: inline-block;
    width: 140px;
    text-align: center;
    vertical-align: top;
    background: rgba(255, 255, 255, 0.06);
}

.rank-row-time  {
    height: 100%;
    display: inline-block;
    width: 110px;
    text-indent: 10px;
    font-size: 13px;
}

.rank-row-name {
    height: 100%;
    display: inline-block;
    width: 200px;
    text-indent: 10px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}
.rank-row-item.top{
    background: url("../images/icon/laurel-ico.png")no-repeat 21px 0px;
    background-size: 45px;
}.rank-row-item.top .rank-row-point{
    font-weight: bold;
}
.rank-row-item.head {
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.21);
    border: none;
}
.rank-row-item.head .rank-row-name{
    width: 268px;
    text-indent: 80px;
}

.rank-row-item.more {
    height: 40px;
    background: url("../images/icon/more-ico.png") 210px center rgba(255, 255, 255, 0.21) no-repeat;
    background-size: 30px;
    text-align: center;
    border: none;
}
.rank-row-item.more:hover {
    background-size: 35px;
    background-color: #A81A4F;
}
.menu-popup-head {
    height: 70px;
}

.menu-popup-icon.calendar-week {
    background-image: url("../images/icon/calendar-week-ico.png");
}

.menu-popup-icon.calendar-date {
    background-image: url("../images/icon/calendar-date-ico.png");
}

.menu-popup-calendar {
}

.menu-popup-calendar-current {
    display: block;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

.menu-popup-calendar-next, .menu-popup-calendar-prev {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 60px;
}

.menu-popup-calendar-next:hover, .menu-popup-calendar-prev:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.menu-popup-calendar-next {
    background: url("../images/icon/next.png") no-repeat center;
    background-size: 30px;
}

.menu-popup-calendar-prev {
    background: url("../images/icon/back.png") no-repeat center;
    background-size: 30px;
}

.date-pick {
    border: none;
    background: none;
    color: #FFF;
    text-align: center;
    width: 100%;
    line-height: 20px;
    margin: 0;
}

.dp-choose-date {
    display: block;
    color: rgba(0, 0, 0, 0);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.form-head-profile {
    font-size: 20px;
    text-align: center;
    line-height: 90px;
}

.popup-profile-avt {
    height: 90px;
    width: 90px;
    vertical-align: middle;
    margin: 20px auto 10px auto;
    border-radius: 60px;
    background: no-repeat center;
    background-size: cover;
    font-weight: bold;
}

/* ??????????????????????? FORM ?????????????????????????????*/
.form {
    height: 100%;
    top: 0px;
    float: left;
    background: #FFF;
    margin-left: 100px;
    text-align: center;
    font-size: 0;
    z-index: 0;
}

.form-head {
    height: 90px;
    line-height: 90px;
    font-size: 48px;
    font-family: "Segoe UI light";
    color: #16499a;
    text-indent: 20px;
    text-align: left;
    padding: 0px 0px 5px 100px;
    background: #FFF;
}

.form-head-task {
    position: absolute;
    height: 90px;
    text-align: right;
    top: 0;
    right: 0;
    font-size: 0;
}

.form-head-search {
    display: inline-block;
    height: 100%;
    width: 80px;
    vertical-align: top;
    font-size: 17px;
    overflow: hidden;
    background: #EEE;
    position: relative;
}

.form-head-search-mask {
    height: 100%;
    width: 400px;
    position: absolute;
    right: 0;
    top: 0;
}

.form-head-account {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    font-size: 17px;
    background-color: #FFF;
    background-color: rgba(255, 255, 255, 0.85);
    overflow: hidden;
}

.form-head-account-wrapper {
    position: relative;
}

.form-head-profile {
    height: 90px;
}

.form-head-logout {
    height: 90px;
}

.form-head-logout>a {
    margin-right: 15px;
    text-decoration: none;
}

.form-head-logout>a:hover {
    text-decoration: underline;
}

.search-button {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    width: 80px;
    background: url("../images/icon/search-ico.png") no-repeat right center #EEE;
    cursor: pointer;
}

.search-button:hover {
    background-color: #E5E5E5;
}

.search-button:active {
    background-color: #DDD;
}

.search-text {
    border: 2px solid #999;
    height: 30px;
    line-height: 30px;
    width: 280px;
    font-size: 18px;
    vertical-align: middle;
    font-family: "Segoe UI";
    text-indent: 10px;
    margin-right: 5px;
}

.search-text:focus {
    border-color: #455cee;
    outline: none;
}

.form-head .form-head-gray {
    color: #999;
    text-indent: 20px;
}

/*METRO*/
.metro-list {
    list-style: none;
    margin: 0px 5px;
    padding: 0;
    max-width: 1050px;
    position: relative;
    overflow: visible;
}

.metro-item {
    float: left;
    height: 200px;
    width: 200px;
    margin: 5px;
    background: url("../images/temp.jpg") no-repeat center #EEEEEE;
    color: #FFFFFF;
    position: relative;
    font-size: 13px;
    left: 0px;
    top: 0px;
    background-size: 100% 100%;
}

.metro-item.large {
    width: 410px;
    background-color: #EEEEEE;
}

.metro-item.large .metro-bar {
    background: rgba(238, 76, 112, 0.8);
    background: rgba(121, 113, 113, 0.3);;
}

.metro-item.medium .metro-bar {
    background: rgba(88, 213, 43, 0.8);
    background: rgba(121, 113, 113, 0.3);;
}

.metro-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 90px;
    width: 100%;
    background: rgba(238, 227, 51, 0.8);
    background: rgba(121, 113, 113, 0.3);;
}

.metro-bar-wrapper {
    display: block;
    color: white;
    text-decoration: none;
}

.metro-title {
    position: absolute;
    width: 100%;
    top: 20px;
    margin: 5px 5px 0px 5px;
    line-height: 20px;
}

.metro-title>span {
    line-height: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-align: left;
    font-weight: bold;
    height: 38px;
}

.metro-title-duration {
    font-size: 20px;
    margin: 0;
    line-height: 25px;
    background: url("../images/icon/duration-ico.png") no-repeat center;
}

.metro-times {
    position: absolute;
    top: 5px;
    left: 10px;
    background: url("../images/icon/play-times-ico.png") no-repeat left center;
    padding-left: 20px;
}

.metro-level {
    position: absolute;
    top: 5px;
    right: 10px;
    background: url("../images/icon/hard-ico.png") no-repeat left center;
    padding-left: 20px;
}

.metro-item:hover .metro-bar .metro-title {
    -webkit-line-clamp: 7;
}

.metro-item-clear {
    clear: both;
}

.metro-item-more {
    height: 80px;
    width: 50px;
    color: #FFFFFF;
    background: url("../images/icon/more-ico.png") no-repeat center bottom #0046A9;
    position: absolute;
    font-size: 13px;
    bottom: 5px;
    right: -55px;
    cursor: pointer;
}

/*TOOLKIT*/
.control-bar {
    clear: both;
    padding: 5px 0px 50px 10px;
    height: 200px;
}

.control-fb {
    float: left;
    height: 200px !important;
    width: 200px !important;
    margin: 0px 10px 10px 0px;
}

.control-fb .front {
    background: url("../images/icon/fb-ico.png") no-repeat #EEE;
}

.control-fb .back {
    background: url("../images/icon/like-ico.png") no-repeat #FFF;
    cursor: pointer;
}

.control-contact {
    float: left;
    height: 200px;
    width: 200px;
    margin: 0px 10px 10px 0px;
}

.control-mess {
    height: 95px;
}

.control-mess .front {
    background: url("../images/icon/mess-ico.png") no-repeat center #0046a9;
}

.control-mess .back {
    background: url("../images/icon/mess-ico.png") no-repeat 10px 10px #2283A9;
    background-size: auto 25px;
    cursor: pointer;
}

.control-mail {
    height: 95px;
    margin-top: 10px;
}

.control-mail .front {
    background: url("../images/icon/mail-ico.png") no-repeat center #0046a9;
}

.control-mail .back {
    background: url("../images/icon/mail-ico.png") no-repeat 10px 10px #2283A9;
    background-size: auto 25px;
    cursor: pointer;
}

.control-rank-recent {
    height: 200px;
    width: 620px;

    background-color: #d92266;
    font-size: 0;
    overflow: hidden;
}

.control-rank-recent-index {
    float: left;
    height: 201px;
    width: 620px;
    margin-bottom: 20px;
    background-color: #d92266;
    font-size: 0;
    overflow: hidden;
}

.control-rank-head {
    width: 50px;
    height: 100%;
    display: inline-block;
    background: url("../images/icon/clock-ico.png") no-repeat center 10px #B81E57;
}

.control-rank-head.cup {
    background: url("../images/icon/cup-ico.png") no-repeat center 10px #B81E57;

}

.control-rank-list {
    width: 566px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 13px;
    text-align: left;
}

.control-rank-item {
    height: 40px;
    line-height: 40px;
    text-indent: 20px;
    text-align: left;
    color: #FFF;
}
/**/

.control-rank-recent.play {
    width: 99%;
    height: 360px;
    margin-bottom: 20px;
}

.control-rank-recent.play .control-rank-head {
    width: 7%;
}
.control-rank-recent.play .control-rank-list {
    width: 93%;
}

/* ??????????????????????? PLAY ?????????????????????????????*/
.panel-video {
    width: 565px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5px;
}

.video-control {
    height: 100px;
}

.video-control-metro {
    position: relative;
    height: 100px;
    line-height: 160px;
    width: 80px;
    background: center 15px no-repeat #111;
    color: #FFF;
    float: left;
    margin-left: 5px;
    text-align: center;
    font-size: 12px;
    -webkit-transition: background 100ms linear;
    -moz-transition: background 100ms linear;
    transition: background 100ms linear;
}

.video-control-metro.large {
    width: 29%;
}

.video-control-metro.skip5 {
    background-image: url("../images/icon/next.png");
}

.video-control-metro.back5 {
    background-image: url("../images/icon/back.png");
}

.video-control-metro.scroll {
    background-image: url("../images/icon/autoscroll.png");
}

.video-control-metro.scroll.off {
    background-image: url("../images/icon/autoscroll-off.png");
}

.video-control-metro:hover {
    background-color: #333;
}

.video-control-metro:active {
    background-color: #a30a00;
}

.video-control-metro.score:active {
    background-color: #111;
}

.skip5, .back5, .scroll {
    cursor: pointer;
}

.video-control-metro.score {
    background-color: #111;
}

.video-control-score {
    position: absolute;
    width: 100%;
    height: 60px;
    top: 0px;
    left: 0;
    line-height: 60px;
    font-size: 30px;
}

.video-title {
    height: 40px;
    line-height: 45px;
    font-size: 25px;
    font-family: "Segoe UI light";
    color: #16499a;
    text-indent: 5px;
    text-align: center;
    font-weight: bold;
}

.video-player {
    height: 400px;
    background-color: #2C2B2B;
    margin: 5px;
}

.video-social {
    height: 40px;
    background-color: #555;
    margin: 0px 5px;
}

.video-comment {
    height: 200px;
    background-color: #EEE;
    margin: 0px 5px;
}

.fb-like {
    position: absolute;
    margin: 5px;
}

.google-plus {
    position: absolute;
    margin: 6px 100px;
}

/*Play*/
.panel-play {
    width: 590px;
    display: inline-block;
    vertical-align: top;
}

.play-keywords {
    clear: both;
    min-height: 100px;
}

.play-keyword-item {
    height: 30px;
    line-height: 30px;
    width: 140px;
    text-align: center;
    float: left;
    color: #FFF;
    font-size: 13px;
    background: url("../images/icon/pin-map-ico.png") no-repeat 5px center #0761E7;
    margin: 0px 5px 5px 0px;
    cursor: pointer;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    transition: all 100ms linear;
}

.play-keyword-item:hover {
    background-color: #054CB6;
}

.play-keyword-item:active {
    background-color: #84B6FF;
    margin: 0px 10px 5px 15px;
    width: 120px;
}

.play-exam {
    overflow: hidden;
    width: 100%;
    height: 400px;
    margin-bottom: 5px;
}

.play-exam-item {
    clear: both;
    margin: 0px 3% 5px 0px;
    font-size: 0;
    background-color: #9B9B9B;
}

.play-exam-item.play {
    background-color: #0FC407;
}

.play-exam-item:last-child {
    margin-bottom: 0px;
}

.play-exam-tag {
    display: inline-block;
    width: 15%;
    height: 60px;
    background: url("../images/icon/seek-ico.png") no-repeat center 20px #9B9B9B;
    text-align: center;
    font-size: 13px;
    color: #FFF;
    cursor: pointer;
    vertical-align: top;
}

.play-exam-tag:hover {
    background-color: #777;
}

.play-exam-text {
    display: inline-block;
    width: 80%;
    padding: 0px 0px 0px 5%;
    line-height: 30px;
    min-height: 60px;
    font-size: 16px;
    background: #EEE;
    color: #4D4D4D;
    vertical-align: top;
    text-align: left;
}

.play-exam-item.play .play-exam-tag {
    background: url("../images/icon/play-ico.png") no-repeat center 20px #0FC407;
}

.play-exam-item.play .play-exam-text {
    background: #C7FFC5;
}

.play-exam-answer {
    height: 20px;
    line-height: 20px;
    border: 2px solid #BDBDBD;
    background: url("../images/icon/pin-map-blue-ico.png") no-repeat 5px center #FFF;
    padding: 0px 0px 0px 20px;
    width: 120px;
    color: #0761E7;
    font-family: "Segoe UI";
    font-size: 15px;
    font-weight: bold;
}

.play-exam-answer:focus {
    border-color: #52A8EC;
    outline: 0;

}

/*Control 2*/
.control-play-post {
    height: 50px;
    margin-bottom: 5px;
}

.control-button {
    height: 50px;
    width: 110px;
    float: left;
    background-color: #222;
    margin: 0px 5px 0px 0px;
    color: #FFF;
    font-size: 13px;
    line-height: 80px;
    text-align: center;
    cursor: pointer;
}

.control-button.finish {
    background: url("../images/icon/finish-ico.png") no-repeat center 5px #0761E7;
}

.control-button.retry {
    background: url("../images/icon/retry-ico.png") no-repeat center 5px #F98B00;
}

.control-button.error {
    background: url("../images/icon/alert-ico.png") no-repeat center 5px #F90A00;
    float: right;
}

.control-button.finish:hover {
    background-color: rgb(23, 73, 146);;
}

.control-button.retry:hover {
    background-color: #975100;
}

.control-button.error:hover {
    background-color: #a30a00;
}

/* ★★★★★★★★★★★★★★★★★★★★★★★ BLOG ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★*/
.panel-blog {
    width: 500px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5px;
}

.blog-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.blog-item {
    height: 100px;
    background: #EEE;
    margin: 0px 0px 5px 5px;
    text-align: left;
}

.blog-item-title {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
    color: #005CFF;
}

.blog-item-sub {
    font-size: 12px;
    text-align: right;
    color: #0078A7;
}

.blog-item-info {
    display: inline-block;
    width: 350px;
    height: 100%;
}

.blog-item-info-desc {
    font-size: 12px;
    text-align: left;
    padding-left: 10px;
}

.blog-item-info-img {
    display: inline-block;
    width: 200px;
    height: 100px;
    vertical-align: top;
    background: url("../images/temp.jpg") center center #DDD;
    background-size: auto 100%;
}

.blog-item-info-link {
}

.panel-rank-blog {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5px;
}

/* ★★★★★★★★★★★★★★★★★★★★★★★ POPUP ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★*/
.popup {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 60px 0px #000;
    z-index: 200;
    color: #FFF;
}

.popup-back {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 0;
    background: transparent;
}

.popup-form {
    height: 410px;
    width: 0%;
    text-align: center;
    position: fixed;
    top: 150px;
    left: 350px;
    background: #002D87;
    -webkit-box-shadow: 0px 0px 50px 0px #000;
    -moz-box-shadow: 0px 0px 50px 0px #000;
    box-shadow: 0px 0px 50px 0px #000;
    z-index: 100;
}

.popup-wrapper {
    height: 100%;
    display: inline-block;
    text-align: left;
    width: 760px;
}

.login-avt {
    height: 100%;
    width: 160px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    background: url("../images/icon/avata-ico.png") no-repeat center;
    margin-right: 50px;
}

.register-avt {
    height: 140px;
    width: 160px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-left: 67px;
    border: 3px solid #FFF;
    background: no-repeat center;
    background-size: 100% 100%;
}

.login-message {
    width: 295px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 100px 0px 0px 20px;
}

.login-message-content {
    border: 3px solid #FFF;
    color: #FFF;
    background: #B32525;
    line-height: 20px;
    padding: 5px 10px;
}

.login-message-footer {
    height: 36px;
    background: url("../images/icon/mess-footer.png") no-repeat 20px top;
}

.login-info {
    height: 100%;
    width: 420px;
    display: inline-block;
    vertical-align: top;
}

.register-info {
    height: 100%;
    width: 420px;
    display: inline-block;
    vertical-align: top;
    margin-left: 100px;
}

.login-info-title {
    height: 100px;
    line-height: 100px;
    font-family: "Segoe UI light";
    font-size: 50px;
    font-weight: bold;
    text-shadow: 3px 4px 5px #000;
}

.popup-progress {
    height: 100px;
    width: 80px;
    vertical-align: top;
    background: url("../images/icon/spinner.gif") no-repeat left center;
    float: right;
}

.login-info-row {
    height: 42px;
    line-height: 32px;
    margin: 5px 0px;
    padding-right: 40px;
}

.login-info-row.ok {
    background: url("../images/icon/check-ico.png") no-repeat right center;
}

.login-info-row.error {
    background: url("../images/icon/fail-ico.png") no-repeat right center;
}

.login-info-row.large {
    margin: 20px 0px 0px 0px;
}

.register-info-row {
    height: 35px;
    line-height: 32px;
    margin: 5px 67px;
}

.register-info-row input {
    opacity: 0;
    z-index: 10;
    position: absolute;
    display: block;
}

.login-info-label {
    vertical-align: middle;
}

.login-info-input {
    vertical-align: middle;
    width: 200px;
    height: 26px;
    line-height: 26px;
    float: right;
    border: 2px solid #FFF;
    background: none;
    text-indent: 10px;
    color: #FFF;
    font-family: "Segoe UI";
    font-size: 15px;
    font-weight: bold;
    -webkit-transition: background 250ms linear;
    -moz-transition: background 250ms linear;
    transition: background 250ms linear;
}

.login-info-input:focus {
    outline: 0;
    background: #1E54BE;
}

.login-info-button {
    vertical-align: middle;
    width: 150px;
    height: 26px;
    line-height: 25px;
    float: right;
    background: none;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    color: #FFF;
    border: 2px solid #FFF;
    -webkit-transition: background 250ms linear;
    -moz-transition: background 250ms linear;
    transition: background 250ms linear;
}

.login-info-button:hover {
    background: #5D91F8;
}

.login-info-button:active {
    background: #0025be;
}

.register-info-button {
    vertical-align: middle;
    width: 150px;
    height: 26px;
    line-height: 25px;
    float: right;
    background: none;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    color: #FFF;
    border: 2px solid #FFF;
    text-decoration: none;
    -webkit-transition: background 250ms linear;
    -moz-transition: background 250ms linear;
    transition: background 250ms linear;
}

.register-info-button:hover {
    background: #5D91F8;
}

.register-info-button:active {
    background: #0025be;
}

.login-info-link {
    background: url("../images/icon/bullet-ico.png") no-repeat left center;
    text-indent: 20px;
    cursor: pointer;
    display: inline-block;
    -webkit-transition: color 250ms linear;
    -moz-transition: color 250ms linear;
    transition: color 250ms linear;
}

.login-info-link:hover {
    color: #5D91F8;
}

.login-info-link:active {
    color: #0025be;
}

.disable {
    display: none;
}

.fb-bar {
    margin: 0px 425px 10px 10px;
}

.fb-btnLogin{
    position: absolute;
    margin: 0px 0px 0px 311px;
}

.login-popup-error-mess {
    position: absolute;
    display: block;
    width: 50%;
    font-size: 15px;
    font-style: italic;
    color: #F5EB00;
    margin-left: 320px;
    bottom: 25px;
}

.login-popup-error-mess i {
    display: inline-block;
    width: 14px;
    height: 13px;
    background: url("../images/icon/warning-ico.png") no-repeat;
    margin-left: 5px;
}

.login-info-radio-group {
    margin-left: 145px;
    margin-top: -32px;
    color: #FFF;
    font-family: "Segoe UI";
    font-size: 13px;
    font-weight: bold;
    -webkit-transition: background 250ms linear;
    -moz-transition: background 250ms linear;
    transition: background 250ms linear;
}

.login-info-radio {
    margin-left: 30px;
}

/*FLIP*/
.flip-container {
    -webkit-perspective: 1000px;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 100%;
}

.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    height: 100%;
    position: relative;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    height: 100%;
}

.back {
    -webkit-transform: rotateY(180deg);
    height: 100%;
}
/*PROFILE*/
.profile-tag {
    background: #3F2AD6;
    width: 280px;
    height: 500px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
}
.profile-panel {
    background: #D5D5D5;
    width: 845px;
    height: 500px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    text-align: left;
}

.profile-head {
    font-family: "Segoe UI light";
    text-align: left;
    background: #FFF;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
}
.profile-name{
    font-family: "Segoe UI light";
    color: #16499A;
    text-indent: 20px;
    text-align: left;
    font-size: 30px;
}
.profile-title {
    font-size: 16px;
    text-align: left;
    text-indent: 20px;
    font-weight: bold;
    color: #3F3F3F;
    margin-top: 10px;
}
.profile-title.white {
    color: #FFF;
}
.profile-avt{
    height: 200px;
    width: 200px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    background: url("../images/icon/avata-ico.png") no-repeat center;
    background-size: cover;
    margin-top: 10px;
}
.profile-text {
    line-height: 20px;
    font-size: 14px;
    text-align: left;
    padding-left: 20px;
}
.profile-text.white {
    color: #FFF;
}
.profile-button {
    height: 35px;
    padding: 0px 10px;
    font-size: 18px;
    border: 2px solid;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: background 250ms linear;
    -moz-transition: background 250ms linear;
    transition: background 250ms linear;
}
.profile-button.white {
    color: #FFF;
    margin-top: 10px;
}
.profile-button>span {
    vertical-align: middle;
}
.profile-button-icon {
    height: 35px;
    width: 35px;
    display: inline-block;
    vertical-align: middle;
}
.profile-button-icon.edit {
    background: url("../images/icon/edit-ico.png") no-repeat center;
}
.profile-button:hover {
    background: #5D91F8;
}
.profile-button:active {
    background: #0025BE;
}
.control-rank-list.profile{
    width: 100%;
}
.control-rank-list.profile .rank-row-name{
    width:400px
}
.control-rank-list.profile .rank-row-item.head .rank-row-name {
    width: 425px;
}