.admin-tag {
	background: #3F2AD6;
	width: 280px;
	height: 500px;
	display: inline-block;
	margin-left: 10px;
	vertical-align: top;
}

.admin-panel {
	width: 800px;
	display: inline-block;
	margin-left: 10px;
	vertical-align: top;
	text-align: left;
}

.admin-panel-content {
	padding: 10px;
}

.admin-title {
	font-size: 16px;
	text-align: left;
	text-indent: 0px;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	color: #3F3F3F;
}

.nav-list {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 90px;
}

.nav-item {
	display: inline-block;
	height: 100%;
	width: 160px;
	line-height: 90px;
	background: #858585;
	text-align: center;
}

.nav-item:hover {
	background: #B6B6B6;
}

.nav-item {
	display: inline-block;
	height: 100%;
	width: 160px;
	line-height: 90px;
	background: #858585;
}

.nav-item>a {
	color: #ffffff;
	text-decoration: none;
}

.gap {
	margin-bottom: 10px;
}
.min-gap {
	margin-bottom: 5px;
}

/*CHECK-BOX*/
input[type=checkbox].admin-checkbox {
	display: none;
}

input[type=checkbox].admin-checkbox + label.admin-checkbox-label {
	padding-left: 20px;
	height: 20px;
	display: inline-block;
	line-height: 17px;
	font-size: 15px;
	vertical-align: middle;
	cursor: pointer;
	text-indent: 10px;
}

input[type=checkbox].admin-checkbox:checked + label.admin-checkbox-label {
	background-position: 0 0;
}

.admin-checkbox-label {
	background: url('../images/bg/check-bg.png') no-repeat 0 -20px;
}

/*FILE-UPLOAD*/
.admin-upload {
	display: block;
	margin: auto;
	width: 222px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	color: #16499A;
	border: 2px solid #16499A;
	font-size: 16px;
	position: relative;
	-webkit-transition: background 250ms linear;
	-moz-transition: background 250ms linear;
	transition: background 250ms linear;
}

.admin-upload:hover {
	background-color: #D8E5FF;
}

.admin-upload:active {
	background-color: #0025BE;
}

.admin-upload input {
	opacity: 0;
	filter: alpha(opacity:0);
	width: 100%;
	height: 100%;
	z-index: 10;
	position: absolute;
	display: block;
}

.admin-upload>span {
	width: 100%;
	height: 100%;
	z-index: 10;
	position: absolute;
	display: block;
}

.admin-upload>span.photo {
	background: url('../images/icon/photo-ico.png') no-repeat 20px center;
}

.admin-upload>span.file {
	background: url('../images/icon/file-ico.png') no-repeat 20px center;
}

/*TEXT-BOX*/
.admin-text-input:focus {
	border-color: #455CEE;
	outline: none;
}

.admin-text-input {
	border: 2px solid #999;
	height: 30px;
	line-height: 30px;
	width: 300px;
	font-size: 18px;
	vertical-align: middle;
	font-family: "Segoe UI";
	padding-left: 5px;
}

.admin-text-input.area {
	height: 90px;
	max-height: 90px;
	width: 300px;
	max-width: 298px;
	font-size: 13px;
}

.admin-text-label {
	height: 20px;
	font-size: 14px;
	display: block;
}

.admin-text-label.inline {
	height: 40px;
	line-height: 40px;
	width: 150px;
	display: inline-block;
}

/*BUTTON*/
.admin-button {
	color: #16499A;
	border: 2px solid #16499A;
	height: 36px;
	width: 170px;
	background: no-repeat 20px center #FFF;

	margin-left: 10px;
	vertical-align: middle;
	display: inline-block;
	padding: 0px 20px;
	font-weight: bold;
	color: #16499A;
	font-size: 16px;
	font-family: "Segoe UI";
	-webkit-transition: background 250ms linear;
	-moz-transition: background 250ms linear;
	transition: background 250ms linear;
}

.admin-button:hover {
	background-color: #D8E5FF;
}

.admin-button:active {
	background-color: #0025BE;
}
.add {
	background-image: url('../images/icon/add-ico.png');
}
.edit {
	background-image: url('../images/icon/edit-blue-ico.png');
}
.delete {
	background-image: url('../images/icon/delete-ico.png');
}
.cancel {
	background-image: url('../images/icon/cancel-ico.png');
}

.submit {
	background-image: url('../images/icon/submit-ico.png');
}
.prev {
	background-image: url('../images/icon/back-blue-ico.png');
}
.next {
	background-image: url('../images/icon/next-blue-ico.png');
}
.time {
	background-image: url('../images/icon/time-ico.png');
}

.admin-table {
	width: 100%;
	border-spacing: 0px;
	border-collapse: collapse;
	font-size: 20px;
	line-height: 20px;
}

.admin-table-cell, .admin-table-cell-full {
	line-height: 30px;
	margin: 0px;
	padding: 0px 10px 5px 10px;
	height: 30px;
	vertical-align: top;
}

.admin-table-cell-full {
	width: 100%;
	background: rgba(0, 0, 0, 0.1);
}
.admin-table-row {
	background: #E5E5E5;
	font-size: 13px;
}
.admin-table-row:nth-child(2n) {
	background: #EEE;
}

.admin-table-head {
	background: #16499A;
	height: 30px;
	line-height: 30px;
	color: #FFF;
}
.admin-table-head .admin-table-cell,
.admin-table-head .admin-table-cell-full {
	line-height: 30px;
}

.admin-table-button {
	border: none;
	background-repeat: no-repeat;
	background-position: 5px center;
	background-color: #FFF;
	height: 25px;
	width: 100px;
	background-size: 20px;
	color: #16499A;
	font-family: "Segoe UI";
	font-weight: bold;
	-webkit-transition: background 250ms linear;
	-moz-transition: background 250ms linear;
	transition: background 250ms linear;
}
.admin-table-button:hover {
	background-color: #B6B6FF;
}
.admin-table-button:active {
	background-color: #2C6CD1;
}
.admin-table-button.unable {
	background-color: #A8A8A8;
}

.table-long-text {
	max-height: 90px;
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	text-indent: 20px;
}

.admin-table-foot {
	background: #16499A;
	height: 30px;
	line-height: 30px;
	color: #FFF;
}

.admin-select {
	width: 240px;
	height: 34px;
	overflow: hidden;
	background: url("../images/icon/drop-down-ico.png") no-repeat right center #FFF;
	border: 2px solid #999;
}
.admin-select>select {
	background: transparent;
	width: 268px;
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	border: 0;
	border-radius: 0;
	height: 34px;
	-webkit-appearance: none;
}

.admin-select>select:focus {
	outline: none;
}

.admin-footer {
	height: 50px;
}
/*Custom*/

.admin-text-label.new-row {
	height: 90px;
	vertical-align: top;
	background: #999;
	line-height: 30px;
	text-indent: 10px;
	width: 170px;
	padding: 0px 5px;
	text-align: right;
}
.admin-text-input.new-row {
	width: 400px;
	max-width: 400px;
	height: 82px;
	max-height: 82px;
	line-height: 28px;
}
.admin-button.new-row {
	height: 90px;
	margin: 0px 0px 0px 5px;
}

.admin-text-label.keyword {
	height: 36px;
	vertical-align: top;
	background: #FFF;
	line-height: 30px;
	text-indent: 10px;
	width: 170px;
	padding-right: 10px;
	text-align: right;
 }
.admin-text-input.keyword {
	width: 240px;
	text-indent: 15px;
	background: url("../images/icon/pin-map-blue-ico.png") no-repeat 5px center;
}
.admin-button.keyword{
	margin: 0px;
	background-color: #999;
	border-color: #999;
	color: #FFF;
	width: 160px;

}
.admin-button.keyword:hover {
	background-color: #0055FF;
	border-color: #0055FF;
}

.admin-keyword {
	display: inline-block;
	position: relative;
}

.admin-keyword:before {
	content: "";
	background: url("../images/icon/key-arrow-ico.png") no-repeat top center;
	width: 28px;
	height: 14px;
	position: absolute;
	bottom: -12px;
	left: 40px;
}
.admin-time-row {
	font-size: 0;
}
.center{
	text-align: center;
}
.admin-time-row>span {
	font-size: 13px;
	vertical-align: middle;
}
.admin-time-row .admin-table-button {
	width: 40px;
	cursor: pointer;
	background-color: #EEE;
	background-position: center;
	display: inline-block;
	vertical-align: top;
}
.admin-time-row .admin-table-button:hover {
	background-color: #99C6FF;
}

.admin-time-row .admin-table-button:active {
	background-color: #FFF;
}

.admin-table-text {
	border: none;
	background-repeat: no-repeat;
	background-position: 5px center;
	background-color: #FFF;
	height: 23px;
	width: 100px;
	background-size: 20px;
	color: #16499A;
	font-family: "Segoe UI";
	font-weight: bold;
	-webkit-transition: background 250ms linear;
	-moz-transition: background 250ms linear;
	transition: background 250ms linear;
}
.admin-time-row .admin-table-text {
	width: 80px;
	text-indent: 10px;
	vertical-align: top;
}
.admin-time-row>span.admin-current-time {
	font-size: 25px;
	font-family: "Segoe UI light","segoe ui";
	color: #FFF;
}