body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, sans-serif;
    font-size: 13px;
}

.page {
    height: 100%;
    width: 100%;
    background: #999999;
    position: fixed;
}

/* ★★★★★★★★★★★★★★★★★★★★★★★ MENU ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★*/
.menu {
    height: 100%;
    width: 100px;
    background: #111;
    position: relative;
    z-index: 100;
}

.menu-list {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100px;
    top: 0;
}

.menu-item {
    height: 120px;
    background: url("../images/icon/menu-ico.png") no-repeat;
    position: relative;
}

.menu-item.home {
    background-position: 0px center;
}

.menu-item.acc {
    background-position: -100px center;
}

.menu-item.cate {
    background-position: -200px center;
}

.menu-item.day {
    background-position: -300px center;
}

.menu-item.week {
    background-position: -400px center;
}

.menu-item:hover {
    background-color: #222;
}

.menu-item:hover .menu-arrow {
    display: block;
}

.menu-item a {
    height: 100%;
    display: block;
    line-height: 210px;
    text-align: center;
    text-decoration: none;
    color: #FFF;
}

.menu-popup {
    width: 0px;
    background-color: #3F2AD6;
    position: fixed;
    top: 0;
    left: 100px;
    height: 100%;
}

.menu-popup.acc {
    background-color: #3F2AD6;
}

.menu-popup.cate {
    background-color: #3F2AD6;
}

.menu-popup.day {
    background-color: #DB51A9;
}

.menu-popup.week {
    background-color: #51b202;
}

.menu-arrow {
    width: 20px;
    height: 40px;
    position: absolute;
    top: 40px;
    right: 0px;
    background: url("../images/icon/menu-arr.png") no-repeat;
    display: none;
}

.menu-item.menu-group.acc .menu-arrow {
    background-position: right -40px;
}

.menu-item.menu-group.cate .menu-arrow {
    background-position: right -40px;
}

.menu-item.menu-group.day .menu-arrow {
    background-position: right -80px;
}

.menu-item.menu-group.week .menu-arrow {
    background-position: right -120px;
}

.menu-popup-form {
    display: none;
    height: 100%;
    width: 350px;
    color: #ffffff;
}

.menu-popup.acc .menu-popup-form.acc {
    display: block;
}

.menu-popup.cate .menu-popup-form.cate {
    display: block;
}

.menu-popup.day .menu-popup-form.day {
    display: block;
}

.menu-popup.week .menu-popup-form.week {
    display: block;
}

.menu-popup-list {
    list-style: none;
    margin: 30px 0px 0px 0px;
    padding: 0;
    position: absolute;
    width: 350px;
    right: 0;
    top: 0;
}

.menu-popup-item {
    height: 35px;
    line-height: 35px;
    color: #FFF;
    text-indent: 60px;
    font-size: 16px;
}

.menu-popup-item:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

/* ★★★★★★★★★★★★★★★★★★★★★★★ FORM ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★*/
.form {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    float: left;
    background: #EEE;
    margin-left: 100px;
    z-index: 0;
}